*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/docs/build/
/docs/site/

*.mp4
*.gif
*.png
*.m

# Здесь хранятся сгенерированные md файлы
# Внутри есть .gitkeep чтобы каталог существовал в git-e
/docs/src/generated/*.md


# Локальные рабочие файлы
news.md
src/test_workflow.jl
results/*
talks/*
